body {
    background-color: #D7F4FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

h1 {
    font-family: "Fontdiner Swanky", serif;
    font-size: 50px;
    color: #2E5CA2;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 720px;
    padding: 40px;
}

button {
    background-color: #2E5CA2;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: "Domine", serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 2px solid #2E5CA2;
}

.square {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #2E5CA2;
    box-sizing: border-box;
}